// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-select/sass/bootstrap-select';

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";

@import '~leaflet/dist/leaflet';


.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: underline !important;
}


//Location picker

#map { 
	height: 400px; 
	width:100%;
}
.map-container { 
	margin-top: 10px;
}

.header-title small{
	font-size: 60%;
}

.leaflet-pane.leaflet-shadow-pane{
	display: none;
}

//bootstrap select
.bootstrap-select .dropdown-menu{
	z-index: 10000;
}
